body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #f5f7fa, #e4ecf7);
    margin: 0;
}

nav {
    background: #111;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.profile-section {
    max-width: 1100px;
    margin: 50px auto;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.profile-header h1 {
    color: #333;
}

.profile-header button {
    padding: 10px 18px;
    background: #ff9800;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.profile-container {
    display: flex;
    gap: 40px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.profile-left {
    text-align: center;
}

#profilePreview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4CAF50;
    margin-bottom: 15px;
}

#uploadBtn {
    padding: 8px 15px;
    border: none;
    background: #4CAF50;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

#uploadBtn:hover {
    background: #45a049;
}

/* .profile-left {
    text-align: center;
}

.profile-left img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid #ff9800;
} */

.profile-form {
    flex: 1;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.form-grid input,
.form-grid select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.save-btn {
    margin-top: 20px;
    padding: 12px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}
/* .form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="file"] {
    padding: 6px;
} */
.profile-section {
    min-height: 100vh;
    padding: 40px;
    background: 
        linear-gradient(rgba(255,255,255,0.65), rgba(255,255,255,0.65)),
        url('https://static.vecteezy.com/system/resources/previews/020/458/477/non_2x/hand-drawn-travel-template-background-on-blue-background-travel-illustration-vector.jpg');
    background-size: cover;
    /* background-position: center;
    background-attachment: scroll; */
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
